<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EscapeTheMatrix</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
        <link rel="stylesheet" href="/styles/root.css">
</head>
<body>
    <div class="container">
        <nav class="container-nav">
            <img class="vit-logo" src="/images/vit_logo.png" alt="">
            <img class="riviera-logo" src="/images/riviera_logo_cropped.png" alt="">
            <img class="matrix-logo" src="/images/matrix_logo.png" alt="">
        </nav>
        <div>
            <h1>Slot: </h1>
        </div>
        <footer class="container-footer"></footer>
        <script src="/scripts/booked.js"></script>
    </div>
</body>
</html>