<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EscapeTheMatrix</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/styles/root.css">
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
    <div class="container">
        <nav class="container-nav">
            <img class="vit-logo" src="/images/vit_logo.png" alt="">
            <img class="riviera-logo" src="/images/riviera_logo_cropped.png" alt="">
            <img class="matrix-logo" src="/images/matrix_logo.png" alt="">
        </nav>
        <form onsubmit="">
        <div class="container-slots">
                <button type="button" class="dropdown-btn" id="view-day-one" onclick="unHide('day-one')">View Day One</button>
                <div class="day-one hide">
                    <div class="input-radio-container">
                        <input class="radio" type="radio" name="slot" id="1">
                        <label for="1">
                            <div><span class="label-timing">12:00PM - 12:40PM</span> <br>
                                <span class="label-slot-info">Free Slots: 10/12</span>
                            </div>
                        </label>
                    </div>
                    <div class="input-radio-container">
                        <input class="radio" type="radio" name="slot" id="2">
                        <label for="2">
                            <div><span class="label-timing">12:00PM - 12:40PM</span> <br>
                                <span class="label-slot-info">Free Slots: 10/12</span>
                            </div>
                        </label>
                    </div>
                    <div class="input-radio-container">
                        <input class="radio" type="radio" name="slot" id="3">
                        <label for="3">
                            <div><span class="label-timing">12:00PM - 12:40PM</span> <br>
                                <span class="label-slot-info">Free Slots: 10/12</span>
                            </div>
                        </label>
                    </div>
                    <div class="input-radio-container">
                        <input class="radio" type="radio" name="slot" id="4">
                        <label for="4">
                            <div><span class="label-timing">12:00PM - 12:40PM</span> <br>
                                <span class="label-slot-info">Free Slots: 10/12</span>
                            </div>
                        </label>
                    </div>
                    <div class="input-radio-container">
                        <input class="radio" type="radio" name="slot" id="5">
                        <label for="5">
                            <div><span class="label-timing">12:00PM - 12:40PM</span> <br>
                                <span class="label-slot-info">Free Slots: 10/12</span>
                            </div>
                        </label>
                    </div>
                    <div class="input-radio-container">
                        <input class="radio" type="radio" name="slot" id="6">
                        <label for="6">
                            <div><span class="label-timing">12:00PM - 12:40PM</span> <br>
                                <span class="label-slot-info">Free Slots: 10/12</span>
                            </div>
                        </label>
                    </div>
                </div>
                <button type="button" class="dropdown-btn" id="view-day-two" onclick="unHide('day-two')">View Day Two</button>
                <div class="day-two hide">
                    <div class="input-radio-container">
                        <input class="radio" type="radio" name="slot" id="7">
                        <label for="7">
                            <div><span class="label-timing">12:00PM - 12:40PM</span> <br>
                                <span class="label-slot-info">Free Slots: 10/12</span>
                            </div>
                        </label>
                    </div>
                    <div class="input-radio-container">
                        <input class="radio" type="radio" name="slot" id="8">
                        <label for="8">
                            <div><span class="label-timing">12:00PM - 12:40PM</span> <br>
                                <span class="label-slot-info">Free Slots: 10/12</span>
                            </div>
                        </label>
                    </div>
                    <div class="input-radio-container">
                        <input class="radio" type="radio" name="slot" id="9">
                        <label for="9">
                            <div><span class="label-timing">12:00PM - 12:40PM</span> <br>
                                <span class="label-slot-info">Free Slots: 10/12</span>
                            </div>
                        </label>
                    </div>
                    <div class="input-radio-container">
                        <input class="radio" type="radio" name="slot" id="10">
                        <label for="10">
                            <div><span class="label-timing">12:00PM - 12:40PM</span> <br>
                                <span class="label-slot-info">Free Slots: 10/12</span>
                            </div>
                        </label>
                    </div>
                    <div class="input-radio-container">
                        <input class="radio" type="radio" name="slot" id="11">
                        <label for="11">
                            <div><span class="label-timing">12:00PM - 12:40PM</span> <br>
                                <span class="label-slot-info">Free Slots: 10/12</span>
                            </div>
                        </label>
                    </div>
                    <div class="input-radio-container">
                        <input class="radio" type="radio" name="slot" id="12">
                        <label for="12">
                            <div><span class="label-timing">12:00PM - 12:40PM</span> <br>
                                <span class="label-slot-info">Free Slots: 10/12</span>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </form>
        <footer class="container-footer"></footer>
        <script src="/scripts/main.js"></script>
    </div>
</body>

</html>