<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EscapeTheMatrix</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&family=Varela+Round&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/styles/root.css">
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
    <div class="loading-page hide">
        <h2>Please Wait...</h2>
    </div>
    <div class="alert-container hide" data-prompt="no">
        <div class="alert-box">
            <h2 class="message-type">ERROR</h2>
            <img class="cursor-img" src="/images/cursor.png" alt="">
            <p class="message">Please select a slot!</p>
            <div class="btn-grid">
                <button id="btn-cancel" class="alert-button hide" onclick="alertBtnCancel()">Cancel</button>
                <button id="btn-okay" class="alert-button" onclick="alertBtnOkay()">Okay</button>
            </div>
        </div>
    </div>
    <div class="container">
        <nav class="container-nav">
            <img class="vit-logo" src="/images/vit_logo.png" alt="">
            <img class="riviera-logo" src="/images/riviera_logo_cropped.png" alt="">
            <img class="matrix-logo" src="/images/matrix_logo.png" alt="">
        </nav>
        <form onsubmit="">
            <button type="button" class="register-button" onclick="registerBtnClicked()">Register</button>
            <a href="/home/logout" class="logout-button">Logout</a>
            <div class="container-slots">
                <h2 class="slot-msg">Please select your preferred day<br>
                <span class="slot-msg-note">{ note: Once registered, the slot cannot be changed. Also kindly be present at the venue 15 minutes before the chosen time slot. }</span></h2>
                <button type="button" class="dropdown-btn" id="view-day-one" onclick="unHide('day-one')">23/02/2023
                    &#9660;</button>
                <div class="day-one hide">
                </div>
                <button type="button" class="dropdown-btn" id="view-day-two" onclick="unHide('day-two')">24/02/2023
                    &#9660;</button>
                <div class="day-two hide">
                </div>
            </div>
        </form>
        <footer class="container-footer">
            <div class="small-font">PRESENTED BY</div>
            <div class="large-font">MATRIX</div>
            <div class="footer-logo-group">
                <a href="https://www.instagram.com/matrix.vit/" target="_blank"><img src="/images/insta_logo.png" alt=""
                        class="footer-logo"></a>
                <a href="https://www.linkedin.com/company/matrixvit/" target="_blank"><img
                        src="/images/linkedin_logo.png" alt="" class="footer-logo"></a>
                <a href="mailto:multimedia@vit.ac.in" target="_blank"><img src="/images/email_logo.png" alt=""
                        class="footer-logo"></a>
            </div>
        </footer>
        <script src="/scripts/main.js"></script>
    </div>
</body>

</html>