form {
    flex-grow: 1;
}


.container-slots {
    padding: 4rem;
    padding-bottom: 6rem;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

h2, p {
    display: inline;
}

.register-button {
    position: fixed;
    bottom: 7rem;
    right: 2rem;
    width:7rem;
    height: 2rem;
    border:none;
    background-color: var(--secondary-clr-100);
    border-radius: 0.8rem;
    background-color: var(--primary-clr-600);
    color: var(--secondary-clr-100);
    box-shadow: 0px 1px 10px grey;
}

.register-button:hover {
    box-shadow: none;
}

.dropdown-btn {
    width: 12rem;
    height: 3rem;
    border: none;
    background-color: var(--secondary-clr-100);
    border-radius: 1rem;
}

.dropdown-btn:hover {
    box-shadow: 2px 2px 8px grey;
}

.day-one, .day-two {
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.hide {
    display: none;
}

.input-radio-container{
    background-color: white;
    max-width: 10rem;
    max-height: 12rem;
    text-align: center;
    border-radius: 1rem;
}

.input-radio-container:has(input[type=radio]:checked)
{
    background-color: rgb(91, 91, 91);
    color: white;
}

input[type=radio] {
    display: none;
}

label {
    padding: 1rem;
}

.label-timing {
    font-size: large;
    font-weight: 600;
}

.label-slot-info {
    font-size: medium;
}

/* .container-footer::before {
    content: '';
    height: 2.5rem;
} */


@media (max-width: 1000px) 
{
    .day-one, .day-two {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 800px) 
{
    .day-one, .day-two {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 600px) 
{
    .day-one, .day-two {
        grid-template-columns: 1fr 1fr;
        gap:2rem;
    }
    .container-slots {
        padding: 2.5rem;
    }
}

/* @media (max-width: 450px) 
{
    .day-one, .day-two {
        grid-template-columns: 1fr;
    }

    .container-slots {
        padding: 6rem;
    }
} */
